#whoisForm {
    margin: 30px 0px;
}
#whoisForm input[type="text"] {
	border: 1px solid #dcdcdc;
	padding: 10px 10px;
	width: 70%;
	height: 60px;
}
#whoisForm button {
	padding: 10px 15px;
	font-size: 18px;
	background: #000000;
	color: #fff;
	width: 29%;
	border: 0px;
	height: 60px;
}
#whoisForm button, #whoisForm input {
    border-radius: 0px;
}

.whois-result h2.title {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 20px;
}
.whois-result h2.title span {
    color: #ff3d00;
}
.whois-result .info-section {
    background: #f4f4f4;
    margin-bottom: 40px;
}
.whois-result .info-section > * {
    padding: 0px 20px;
    margin: 0px;
}
.whois-result .info-section h3.title {
    background: #000000;
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.whois-result .info-section p {
    font-size: 14px;
    margin-top: 5px;
    color: #000;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 5px;
}
.whois-result .info-section p span {
    width: 14px;
    height: 14px;
    display: inline-block;
    background-size: 100%;
    margin-left: 8px;
    overflow: hidden;
    background-repeat: no-repeat;
    margin-bottom: -2px;
}
.quickurl {
	margin-bottom: 12px;
    overflow: hidden;
    position: relative;
}

.whois-result .quickurl input {
	width: 100%;
	padding: 10px 10px;
	line-height: 20px;
	font-size: 16px;
	border: 1px solid #e4e4e4;
}
.whois-result .quickurl button {
	font-size: 14px;
	border-radius: 1px;
	margin-bottom: 2px;
	line-height: 21px;
	text-transform: uppercase;
	position: absolute;
	right: 0;
	top: 1px;
	bottom: 0px;
	padding: 10px 20px;
	height: 100%;
	text-indent: -99999px;
	background-size: 24px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center center;
	border: 0;
}
.whois-result .quickurl button:active {
	color: #000;
	background: #fff;
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
}


